# 超大目录（必须忽略）
output_dir/*
dataset/
pretrained/



# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.tmp

# 系统 & IDE
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# 保留评估日志
!output_dir/eval_logs/
!output_dir/eval_logs/**
