# 超大目录（必须忽略）
dataset/
pretrained/

# output_dir：忽略全部内容，只保留日志
output_dir/**
!output_dir/eval_logs/
!output_dir/eval_logs/**
!output_dir/**/log_*/
!output_dir/**/log_*/**

# Python 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
*.tmp

# 日志：全局忽略 .log，但保留 output_dir 下的
*.log
!output_dir/**/*.log

# 系统 & IDE
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
*.swp
*.swo

# 模型权重文件
*.pth
*.pt
